---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-6xl font-bold"><span id="cursive">BOTONERA</span> LHDA</h1>
  <p>
    Botonera hecha especialmente para reproducir en un instante los memes
    caracteristicos de <span class="font-bold">
      <a
        href="https://www.youtube.com/@losherederosdealberdi"
        target="_blank"
        rel="noopener noreferrer">Los Herederos de Alberdi</a
      ></span
    >
  </p>
</Layout>

<style>
  #cursive {
    font-family: "Luxurious";
  }
</style>
