<footer class="bg-black/60">
  <div class="max-w-screen-xl mx-auto w-[80%] h-full p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href="https://www.youtube.com/@losherederosdealberdi"
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <img
          src="https://yt3.googleusercontent.com/8K5lpYbn1xFtg9JyEIP-PHCULOKIuSZPTq0fADy9ucCUx9ELfu3pHW75GfUwuOTXhxhuKuY80A=s160-c-k-c0x00ffffff-no-rj"
          class="size-16 rounded-full object-cover"
          alt="lhda Logo"
        />
        <span
          class="self-center font-[Luxurious] text-2xl font-semibold whitespace-nowrap dark:text-white"
          >Botonera lhda</span
        >
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
          <a
            href="https://github.com/manialCode/lhda-botonera"
            target="_blank"
            class="hover:underline me-4 md:me-6">Repositorio</a
          >
        </li>
        <li>
          <a href="mailto:juanmartinmonti4@gmail.com" class="hover:underline"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2025 <a
        href="https://github.com/manialCode"
        target="_blank"
        class="hover:underline">ManialCode</a
      >. Todos los derechos reservados.</span
    >
  </div>
</footer>
