---
import "@/styles/global.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="LHDA, lhda, botonera, Los Herederos de Alberdi, Milei, memes, memes argentinos, memes de Milei, memes de los herederos de Alberdi, botonera lhda, botonera de los herederos de Alberdi, botonera de Milei, memes de Milei"
    />

    <meta name="author" content="Juan Martin Monti" />

    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content="LHDA Botonera" />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://yt3.googleusercontent.com/8K5lpYbn1xFtg9JyEIP-PHCULOKIuSZPTq0fADy9ucCUx9ELfu3pHW75GfUwuOTXhxhuKuY80A=s160-c-k-c0x00ffffff-no-rj"
    />
    <meta property="og:locale" content="es_AR" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="botonera-lhda-j1df.vercel.app" />
    <meta
      property="twitter:url"
      content="https://botonera-lhda-j1df.vercel.app/"
    />
    <meta name="twitter:title" content="LHDA Botonera" />
    <meta
      name="twitter:description"
      content="LHDA Botonera: Una lista de botones que reproducen los memes mas iónicos. Todo sea por los jijos de Milei"
    />
    <meta
      name="twitter:image"
      content="https://botonera-lhda-j1df.vercel.app../assets/LHDA-large.webp"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://botonera-lhda-j1df.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="LHDA Botonera" />
    <meta
      property="og:description"
      content="LHDA Botonera: Una lista de botones que reproducen los memes mas iónicos. Todo sea por los jijos de Milei"
    />
    <meta
      property="og:image"
      content="https://botonera-lhda-j1df.vercel.app../../public/LHDA-large.webp"
    />

    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="mx-auto w-full h-full">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    color-scheme: dark;
    background-color: #0e1114;
    color: #fff;
  }

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 5rem;
    height: 100dvh;
  }
</style>
